/* remove blue highlight rectangle */
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: auto;
    text-align:center;
    height: 100%;
}

img {
	width:50%;
}

.tab {
	font-family: Palatino Linotype;
	font-size: 60%;
	text-align:left;
}

#tabs li .ui-icon-closethick { 
	float: left; 
	margin: 0.4em 0.2em 0 0; 
	cursor: pointer; 
}

#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 

#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}
 
#tabs .ui-tabs-panel { 
    background: linear-gradient(#cdb77c, #e6dbbe);
    border-width: 0px 1px 1px 1px; 
}

#tabs .ui-tabs-nav li { 
    float: left; 
	background: #cdb77c;
	font-size: 70%;
	font-weight: bold;
	font-family: Palatino Linotype;
	-moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

#tabs {
	font-family: Palatino Linotype;
	text-align: left;
}

label {
	font-family: Palatino Linotype;
	color: #1c2856;
	font-weight: bold;
}

#header,
#footer {
	min-height: 40px;
}
	
#main-wrap {
	min-height: 80%;
	overflow: hidden;
}

#sidebar {
	float: left;
	width: 20%;
}

#content-wrap {
	float: right;
	width: 80%;
}  

#pickupTable, #dropoffTable, #talkTable { 
	list-style-type: none; 
	margin: auto; 
	padding: 0; 
	width: 60%; 
}

ul li {
	background: #e6dbbe;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    -webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
}

#pickupTable, #dropoffTable {
	width: 100%;
	font-family: Palatino Linotype;
	color: #1c2856; 
	font-size: 70%;
}

#talkTable {
	width: 100%;
	font-family: Palatino Linotype;
	color: #1c2856; 
	font-size: 70%;
}

/* Button CSS */
.btn {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Palatino Linotype;
	color: #ffffff; 
	font-size: 14px;
	background: #1c2856;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 0px;
	text-decoration: none;
	text-align: center;
	display: inline-block;

}

.btn:hover {
	background: #cdb77c;
	text-decoration: none;
}

.btn:focus {
	outline:0;
}