/* remove blue highlight rectangle */
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	overflow-y: scroll;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: auto;
    text-align: center;
	height: 100%;
}

p {
	font-family: Palatino Linotype;
    font-size: 16px;
}

img {
	width: 60%;
	max-width: 100%;
    height: auto;
}

div {
	margin: auto; 
	height: 100%;
}

fieldset {
	width:100%;
	background-color: #e6dbbe;
	font-family: Palatino Linotype;
	border-radius: 25px;
}

div legend {
	color: #002A5E;
	font-size:140%;
	font-family: Palatino Linotype;
} 

div p {
	margin: 8px;
}

ul {
	list-style-type:none;
}

header p {
	text-align: center;
    margin: 0;
    padding: 20px 0;
    padding-bottom: 85px;
}

footer p {
	position: fixed;
	text-align: center;
    margin: 0;
    color: #002A5E;
	font-family: Palatino Linotype;
    bottom: 0;
	width: 100%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#checkbox {
	display: inline;
}

#id {
	font-family: Palatino Linotype;
}

#id p {
	margin:auto;
}

#address {
	white-space: nowrap;
}

#thanks{
	font-family: Palatino Linotype;
	color: #002A5E;
	font-size: 200%;
}

#accordion {
	font-family: Palatino Linotype;
	width: 80%;
	height: auto;
	margin: auto;
	text-align: left;
}

#box {       
	display: inline-block;
}

#section {
	padding-top: 5px;
}

#open:hover {
	cursor: pointer;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #999;
    background-color: #ccc;
    padding: 5px;
}

.stackingBtns {
	display: inline;
}

.ui-tooltip {
    max-height: 20px !important;
	position: absolute !important;
	background: white !important;
	font-size: 16px !important;
	font-family: Palatino Linotype !important;
}

.pure-control-group{
	font-family: Palatino Linotype;
}

/* Dialog title */
.title .ui-dialog-titlebar {
	background: #cdb77c;
    font-family: Palatino Linotype;   
}

/* For main menu buttons */
.btn {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Palatino Linotype;
	color: #ffffff;
	font-size: 30px;
	background: #002A5E;
	padding: 10px 20px 10px 20px;
	width: 200px;
	height: 70px;
	border: solid #ffffff 0px;
	text-decoration: none;
	position: relative;
	top: 50%;
	vertical-align: middle;
}

.btn:hover {
	background: #CDB77C;
	text-decoration: none;
}

.btn:focus {
	outline:0;
}

/* For pickup/dropoff form Submit and Back buttons */
.btnTypeTwo {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #002A5E;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 0px;
	text-decoration: none;
	width: 100px;
	position: relative;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

.btnTypeTwo:hover {
	background: #cdb77c;
	text-decoration: none;
}

.btnTypeTwo:focus {
	outline:0;
}

/* For FAQ buttons */
.btnTypeThree {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Arial;
	color: #ffffff; 
	font-size: 16px;
	background: #002A5E;
	padding: 10px 20px 10px 20px;
	width: 150px;
	height: 60px;
	border: solid #ffffff 0px;
	text-decoration: none;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.btnTypeThree:hover {
	background: #cdb77c;
	text-decoration: none;
}

.btnTypeThree:focus {
	outline:0;
}

/* For FAQ dialog buttons */
.btnTypeFour{
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #002A5E;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 0px;
	text-decoration: none;
	position: relative;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

.btnTypeFour:hover {
	background: #cdb77c;
	text-decoration: none;
}

.btnTypeFour:focus {
	outline:0;
}