/* remove blue highlight rectangle */
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: auto;
    text-align:center;
    height: 100%;
}

p {
	font-family: Palatino Linotype;
    font-size: 16px;
}

img {
	width:100%;
}

div {
	margin: auto; 
	height: 100%;
}

fieldset {
	width:100%;
	background-color: #e6dbbe;
	font-family: Palatino Linotype;
	border-radius: 25px;
}

.pure-control-group{
	font-family: Palatino Linotype;
}

#checkbox{
	display: inline;
}

div legend {
	color: #1c2856;
	font-size:140%;
	font-family: Palatino Linotype;
} 

div p {
	margin: 8px;
}

ul {
	list-style-type:none;
}

#id {
	font-family: Palatino Linotype;
}

#id p {
	margin:auto;
}

#address {
	white-space: nowrap;
}

#thanks{
	font-family: Palatino Linotype;
	color: #1c2856;
	font-size: 200%;
}

#accordion {
	font-family: Palatino Linotype;
	width: 80%;
	height: auto;
	margin:auto;
	text-align: left;
}

#box {       
	display: inline-block;
}


header p {
	text-align: center;
    margin: 0;
    padding: 20px 0;
    padding-bottom: 85px;
}

footer p {
	text-align: center;
    margin: 0;
    color: #003399;
	font-family: Palatino Linotype;
}

/* Dialog title */
.title .ui-dialog-titlebar {
	background: #cdb77c;
    font-family: Palatino Linotype;   
}

/* Button CSS */
.btn {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Palatino Linotype;
	color: #ffffff;
	font-size: 30px;
	background: #003399;
	padding: 10px 20px 10px 20px;
	width: 200px;
	height: 70px;
	border: solid #ffffff 0px;
	text-decoration: none;
	position: relative;
	top: 50%;
	vertical-align: middle;
}

.btn:hover {
	background: #cfc04b;
	text-decoration: none;
}

.btn:focus {
	outline:0;
}

.btnTypeTwo {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Arial;
	color: #ffffff; 
	font-size: 16px;
	background: #1c2856;
	padding: 10px 20px 10px 20px;
	width: 100px;
	border: solid #ffffff 0px;
	text-decoration: none;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.btnTypeTwo:hover {
	background: #cdb77c;
	text-decoration: none;
}

.btnTypeTwo:focus {
	outline:0;
}

.btnTypeThree {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	font-family: Arial;
	color: #ffffff; 
	font-size: 16px;
	background: #1c2856;
	padding: 10px 20px 10px 20px;
	width: 150px;
	height: 60px;
	border: solid #ffffff 0px;
	text-decoration: none;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.btnTypeThree:hover {
	background: #cdb77c;
	text-decoration: none;
}

.btnTypeThree:focus {
	outline:0;
}
